
<form action="/Categoria/Adiciona" method="post">
    <label for="id">ID: </label>
    <input id="id" name="categoria.Id" class="form-control"/> <br />
    @Html.ValidationMessage("categoria.Id")

    <label for="nome">Nome: </label>
    <input id="nome" name="categoria.Nome" value="@ViewBag.Categoria.Nome" class="form-control" /> <br />

    <label for="descricao">Descrição: </label>
    <input id="descricao" name="categoria.Descricao" value="@ViewBag.Categoria.Descricao" class="form-control" /> <br />

    <input type="submit" value="Cadastrar" class="btn btn-default"/>
</form>

